<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventMaster"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ViewInvitedListActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRejectedListActivity"
            android:exported="false" />
        <activity
            android:name=".ViewDeclinedListActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAttendeesListActivity"
            android:exported="false" />
        <activity android:name=".AdminEventActivity" />
        <activity android:name=".AdminProfileActivity" />
        <activity android:name=".AdminFacilitiesActivity" />
        <activity android:name=".AdminImagesActivity" />
        <activity android:name=".AdminQRActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity
            android:name=".SettingsScreen"
            android:configChanges="uiMode|screenSize|orientation" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Notifications" />
        <activity
            android:name=".EditFacilityScreen"
            android:exported="false" />
        <activity
            android:name=".FacilityScreen"
            android:exported="false" />
        <activity
            android:name=".CreateEventActivity"
            android:exported="false" />
        <activity android:name=".ViewCreatedEventsActivity" />
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".ViewWaitlistActivity" />
        <activity android:name=".JoinEventScreen" />
        <activity android:name=".QRScanFragment" />
        <activity android:name=".ViewEventsAdapter" />
        <activity android:name=".OrganizerEventListView" />
        <activity android:name=".retrieveEventInfo" />
        <activity android:name=".InputUserInformation" />
        <activity android:name=".JoinWaitlistScreen" />
        <activity android:name=".JoinedEventsActivity" />
        <activity android:name=".WaitlistedEventsActivity" />
        <activity android:name=".UnjoinWaitlistScreen" />
        <activity android:name=".AppInfoActivity" />
        <activity android:name=".QrCaptureActivity" />
        <activity android:name=".NotificationInvitedActivity" />
        <activity android:name=".NotificationRejectedActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>